.carousel-indicators {
  margin: 0 !important;
  position: sticky !important;
  justify-content: end !important;
}

.carousel-indicators [data-bs-target] {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50% !important;
  margin-left: 10px !important;
}

.carousel-control-prev, .carousel-control-next {
  display: none !important;
}