@font-face {
  font-family: Rationale;
  src: url(assets/fonts/Rationale-Regular.ttf);
}

@font-face {
  font-family: Righteous;
  src: url(assets/fonts/Righteous-Regular.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(assets/fonts/Roboto-Regular.ttf);
}

.bg-color, .bg-color-primary {
  background: #fff !important;
  color: #000 !important;
}

.bg-color-maroon {
  background-color: #79201b !important;
  color: #fff;
}

.bg-color-gold {
  background-color: #d7a74f !important;
}

.text-color-gold {
  color: #d7a74f !important;
}

.font-rationale {
  font-family: Rationale;
}

.font-righteous {
  font-family: Righteous;
}

.font-roboto {
  font-family: Roboto;
}

.bg-img {
  width: 100%;
  margin: 0;
  padding: 0;
}

.heading {
  /* letter-spacing: 6px; */
  color: #ffffff;
}

.zindex-tooltip {
  z-index: 1000;
}

.mw-50 {
  min-width: 50%
}

@media (max-width:700px) {
  .card {
    min-width: 75vw !important;
  }
}